body {
    font-family: "Open Sans", Arial, sans-serif;
}

html {
    overflow: hidden;
}

/* html,
body {
    overscroll-behavior-x: contain;
} */

.main {
    display: flex;
    height: calc(100vh - 56px);
}

div#mainCol {
    width: calc(100vw - 50px);
}


textarea#settingsKey1 {
    width: 186px;
    display: block;
    font-size: 15px;
    color: transparent;
    text-shadow: rgb(0, 0, 0) 0px 0px 8px;
}

#settingsConfirmationBody #userID {
    font-size: 15px;
    color: transparent;
    text-shadow: rgb(0, 0, 0) 0px 0px 8px;
}

form#settingsModalForm input,
form#settingsModalForm textarea {
    width: 100%;
}

/* div#Manager {
    padding-top: 80px;
}

div#grid {
    overflow: auto;
} */


div#userList {
    /* width: 500px; */
    /* overflow: auto; */
}

div#grid {
    /* margin: 0 16px; */
    width: 274px;
    transition: width 0.5s;
}

.searchInput {
    height: 20px;
    width: 150px;
    padding-left: 5px;
    margin: 0 0;
}

div#userBtnRow {
    margin: 15px 16px;
    cursor: pointer;
    font-weight: 400;
    text-decoration: underline;
    color: #4d4d4d;
    text-shadow: 0 0 0.3em #d0d0d0, 0 0 0.3em #dadada, 0 0 0.3em #eee;
}

div#Manager {
    display: flex;
    height: 100%;
}

div#managerPanels {
    font-size: 13px;
    height: calc(75vh - 95px);
    overflow-y: auto;
    flex: 1;
    scroll-behavior: smooth;
}

div.userShow {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    /* border-radius: 25px;
    border: 2px solid #c7cac3; */
}
div.projectShow {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    /* border-radius: 25px;
    border: 2px solid #c7cac3; */
}

.panelLCol {
    min-width: 330px;
}

.userShowInfo {
    display: flex;
}

.userShowName {
    font-size: 14px;
    font-weight: 800;
}

.userProj, .projectUser {
    min-width: 150px;
}
.projectServ, .projectUser {
    min-width: 150px;
    text-wrap: nowrap;
}

.projectShowInfo {
    display: flex;
}

.projectShowName {
    font-size: 14px;
    font-weight: 800;
}

.panelRow {
    text-wrap: nowrap;
    display: flex;
    padding: 3px;
}

div.hidden {
    display: none;
}

.infoPanelLable {
    min-width: 75px;
}

.panelTop {
    display: flex;
}

.infoPanelLabel {
    padding-right: 5px;
    font-weight: 800;
}

.infoPanel.projectListLabel {
    font-weight: 800;
    padding: 5px 5px 0 5px;
}

.infoPanel.projectListPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.infoPanel.serverListLabel , .infoPanel.userListLabel{
    font-weight: 800;
    padding: 5px 5px 0 5px;
}

.infoPanel.serverListPanel, .infoPanel.userListPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

div#userProjRow, div#projectServRow {
    display: flex;
    justify-content: space-between;
}

.projectUserRow {
    display: flex;
    justify-content: space-between;
}

div#userListSection {
    opacity: 0;
    height: calc(100vh - 95px);
}

i.fa.up {
    color: #0075ff
}

i.fa.down {
    color: #666666
}

#navbarNavBtnRow {
    /* float: right; */
}

div#console {
    background: #ebebeb;
    padding: 5px;
    height: calc(40px);
    width: 2000px;
    transition: height 0.5s;
}

div#workingSection {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

div#consoleScrollx {
    overflow-x: auto;
    height: auto;
}

div#btnCol {
    width: 50px;
    display: flex;
    flex-direction: column;
}

.btnHolder {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

div#btnCol i {
    font-size: 24px;
}

body .handsontable TD {
    background: #d4d4d4;
    color: white;
}

.modal {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: backdrop-filter .3s;
    backdrop-filter: blur(3px);
}

i#spinner {
    font-size: 25px;
    opacity: 0;
    margin: 15px;
}

.userProjID, .projectUserID {
    margin-left: 10px;
    text-wrap: nowrap;
    text-decoration: underline;
    cursor: pointer;
}
.projectServID, .projectUserID {
    margin-left: 10px;
    text-wrap: nowrap;
}

.nameRow {
    display: flex;
    border-top: solid 1px #494949;
}

.projectShowLabel, .userShowLabel {
    margin-right: 5px;
    font-weight: 800;
}

.panelRow.userListHolder {
    flex-direction: column;
}

div#gridTitleRow {
    display: flex;
}

.preformatted {
    font-family: monospace;
    white-space: pre;
    border-top: solid 1px #494949;
    padding: 10px;
    margin: 5px;
}

.projectCreateRow {
    border-top: solid 1px #494949;
    padding: 10px;
    margin: 5px;
    display: flex;
}
.projectCreateRow2 {
    padding: 10px;
    margin: 5px;
    display: flex;
}

.projCreate {
    padding: 0 10px;
    margin: 0 5px;
    margin-left: 5px;
    cursor: pointer;
    width: 120px;
    font-weight: 800;
    text-decoration: underline;
}

.projButtons {
    display: flex;
}

.projButton {
    margin: 0 5px;
    text-decoration: underline;
    font-weight: 800;
    cursor: pointer;
    text-wrap: nowrap;
}

.projectCreateRowLabel {
    font-weight: 800;
    margin-left: 10px;
    text-wrap: nowrap;
    min-width: 130px;
    min-width: 130px;
}

.projInputs {
    display: flex;
    margin: 10px 0;
}

.inputLabel {
    font-weight: 800;
    margin: 0 5px;
}

.projInputBtn {
    font-weight: 800;
    text-decoration: underline;
    margin: 0 5px;
    cursor: pointer;
}
.projectServID {
    text-decoration: underline;
    cursor: pointer;
}

.myBt.enabled {
    color: black;
}

.gridjs-wrapper {
    max-height: calc(81vh);
}

input.gridjs-input.gridjs-search-input {
    padding: 0;
}

.json {
    margin: 15px;
    border-top: solid 1px #494949;
}

.jsonItem {
    display: flex;
    max-width: 520px;
    justify-content: space-between;
}

table.gridjs-table {
    width: 30vw !important;
    max-width: 30vw !important;
}

.gridjs-tr td{
    transition: background-color 0.2s ease-in, text-shadow 0.5s ease-out;
    cursor: pointer;
}


/* .enabledCell{
    width: 50px;
} */

th.gridjs-th.gridjs-th-sort {
    border-bottom: 2px solid rgb(93 93 93);
    background: #7b7b7b;
}

div#settingsDownloadBtn, div#settingsUploadBtn {
    height: 32px;
    padding: 3px 10px;
    margin: 5px 5px;
}

#uploadFileLine{
    display: none;
}

.label.settingsLabel {
    display: inline-block;
    width: 100px;
    font-weight: 800;
    vertical-align: top;
}

.settingsInput {
    display: inline-block;
    width: 75%;
}

.settingsLn {
    margin: 5px;
}

div#settingMsg {
    font-weight: 800;
}
