
body{
    font-family: "Open Sans",Arial,sans-serif;
}

html, body {
    overscroll-behavior-x: contain;
  }

div, input, textarea{
    /* transition: all 200ms ease 0s, color 200ms ease 0s; */
    transition-property: color, background-color, border-color, height, max-height, min-height;
    transition-duration: .2s;
    transition-timing-function: ease;

}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

.hidden{
    display: none;
}

.pop-bar {
    padding: 0px;
    min-height: 55px;

    border-top: 0px solid rgba(46, 46, 47, 1);
    border-bottom: 0px solid rgba(47, 46, 47, 1);

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: space-between;
}

#navbarNav-outer {
    z-index: 1;
    width: 100%;
    background-image: url('');
    background-color: #ffffff;
    min-height: 55px;
    position: absolute;
}

@media (max-width: 980px) {
    #navbarNav-outer {
        width: calc(100%);
    }
}

#navbarNav #stylePickMenuPop {
    margin-right: 20px;
    margin-left: auto;
}

#navbarNav .navbar-brand {
    padding-left: 5px;
    font-size: 2.0em;
}

#navbarNav .navbar-brand>B {
    padding-left: 10px;
    color: #000000;
}

#navbarNav .icon {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    stroke-width: 0;
    stroke: #367ae0;
    fill: #367ae0;
    padding-bottom: 0.3em;
}

#navbarNav .nav-item {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
}

#navbarNav .nav-item>a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

#navbarNav .nav-item {
    margin-left: auto;
}

#navbarNav .pop-bar .navbar-toggler {
    margin-right: 5px;
}

.rrow {
    height: 100vh;
    flex: 1 1 100%;
    display: flex;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: rgba(17, 18, 38, 0.15) 0px 0px 20px 0px;
    transition: background 200ms ease 0s, box-shadow 200ms ease 0s;
    padding-top: 60px;
}

div#tCol {
    /* width: 255px; */
    flex: 0 0 300px;
    overflow-x: auto;
    max-width: 30%
}

div#jstree_div {
    max-height: calc(100vh - 115px);
    overflow-y: auto;
    margin: 0 4px;
}

div#iCol {
    /* overflow-x: hidden; */
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-width: 20%;
}

.iCol-scroll {
    overflow-y: auto;
}

div#cCol {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

div#conTxt {
    overflow-x: auto;
}

textarea#console {
    width: 100%;
    height: 83vh;
}

.main {
    display: flex;
    background: #ffffff7b;
    backdrop-filter: blur(8px);
    min-height: 100%;
}

.scroller {
    height: 100vh;
    /* overflow-y: auto;
    overflow-x: hidden; */
    width: 100%;
    position: absolute;
}

div#tCol-handle {
    float: right;
    flex: 0 0 3px;
    margin-left: 3px;
    margin-right: 3px;
    height: 100%;
    cursor: w-resize;
}
 
div#iCol-handle {
    float: right;
    flex: 0 0 3px;
    margin-left: 3px;
    margin-right: 3px;
    height: 100%;
    cursor: w-resize;
}

div#dashCompDescription {
    flex: 1 1;
    flex-basis: 100px;
    max-height: 300px;
    height: auto;
    overflow: auto;
    margin: 0 5px;
}

div#comp-script {
    margin: 10px 5px;
    flex: 1 1;
    flex-basis: 100%;
}

input#comp-name-edit {
    margin: 10px 5px;
    width: 100%;
    max-width: 200px;
}

.ql-toolbar.ql-snow {
    margin: 10px 5px;
    padding: 0;
}

.ql-container.ql-disabled {
    border: 0px;
}

.button-row {
    margin: 10px 5px;
    display: inline-block;
}
.button-row.button-row-script {
    margin-bottom: 0;
}
.form-control:focus {
    color: #545454;
    background-color: #fff;
    border-color: #959595;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(134, 134, 134, 0.25);
}
input#searchInput {
    max-width: 152px;
    min-width: 60px;
    padding: 0px;
    line-height: 10px;
    font-size: 13px;
    display: inline-block;
    height: 20px;
    width: 100%;
    padding-left: 5px;
    margin-top: 2px;
}
.tCol-top-row {
    text-wrap: nowrap;
}
#compSearch {
    display: inline-block;
    width: calc(100% - 135px);
    margin-bottom: 0px;
    padding-left: 5px;
}

div#comp-name {
    margin: 10px 5px;
}

div#console-button-row {
    margin: 10px 5px;
    min-width: 140px;
    display: flex;
}

i#settingsBtn {
    /* float: right; */
}

textarea#settingsKey1 {
    width: 186px;
    display: block;
    font-size: 15px;
    color: transparent;
    text-shadow: rgb(0, 0, 0) 0px 0px 8px;
}

div#console {
    width: 2000px;
    
     /* width: 100% */
}

div#console {
    background: #ebebeb;
    padding: 5px;
    /* overflow-x: auto; */
    height: calc(100vh - 115px);
}

div#console.consoleWrap{
    width: 100%
}

div#cCol {
    width: 1px;
    flex: 1 1 100%;
}

div#connectPick {
    display: none;
}

i.fa {
    font-size: 17px;
    color: #666666;
}

.jstree-wholerow.jstree-wholerow-clicked {
    background: #d8d8d8;
}

.ace-clouds .ace_gutter {
    background: #ffffff;
    color: #c5c5c5;
}

.ace-clouds .ace_marker-layer .ace_active-line {
    background: #f7f7f7;
}

.jstree-default .jstree-anchor {
    /* line-height: 24px; */
    /* height: 24px; */
    font-size: 13px;
    color: #424242;
}

.jstree-default .jstree-wholerow-hovered {
    background: #e7e7e7
}

.build-label {
    white-space: nowrap;
    font-size: .8rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.varTable > thead > tr > th {
    padding: 0px;
    margin-bottom: 6px;
}

.dashboardLabel, .varLabel {
    font-size: .8rem;
    font-weight: 400;
    line-height: 24px;
}

.center {
    text-align: center;
}

.dashboardLabel, .varLabel {
    font-size: .8rem;
    font-weight: 400;
    line-height: 24px;
}
.varFlagLabels {
    display: flex;
    justify-content: space-between;
}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

.varRow, .actionRow {
    white-space: nowrap;
}
.varRow> td {
    font-weight: 500;
    font-size: .8em;
    border: none;
    padding: 0px;
    min-width: min-content;
}

.newCompVarName, .newCompVarValue {
    width: 90%;
    height: 20px;
}

.newCompVarValue {
    padding: 0;
    resize: none;
}

.newCompVarTypeButton {
    background: none;
    padding: 0;
    border: none;
    font-weight: 500;
    font-size: 1.0em;
}

label.varFlag {
    margin-bottom: 2px;
    width: 33%;
}

.compVarButtonRow {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.compVarEditValRow {
    display: flex;
    /* margin-left: -30px; */
}

.newCompVarButtonRow {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.colorPicker {
    padding: 0px;
    margin: 0px;
    padding-bottom: 3px;
    margin-left: -27px;
    width: 25px;
    cursor: pointer;
    border-width: 0px;
    border-style: solid;
    border-color: black;
    background-color: transparent;
    color: black;
}

.colorPickerView {
    padding: 0px;
    margin: 0px;
    padding-bottom: 3px;
    width: 25px;
    cursor: default;
    border-width: 0px;
    border-style: solid;
    border-color: black;
    background-color: transparent;
    color: black;
}

div#stylePickMenu {
    vertical-align: top;
    float: right;
    padding: 0;
    margin: 0;
    margin-left: auto;
    padding-right: 10px;
    height: 17px;
    font-size: 14px;
}

.modal {
    backface-visibility: hidden;
    transform: translateZ(0);
    /* opacity: .75; */
    transition: backdrop-filter .3s;
    backdrop-filter: blur(3px);
}

#settingsConfirmationBody #userID {
    font-size: 15px;
    color: transparent;
    text-shadow: rgb(0, 0, 0) 0px 0px 8px;
}

form#settingsModalForm input, form#settingsModalForm textarea {
    width: 100%;
}


label#buildModalTitleName {
    align-self: end;
    margin-bottom: 0;
}

div#compVariablesForm {
    margin: 10px 5px;
}

.modal-dialog.modal-del-dialog {
    max-width: 800px;
}

.fa-fw {
    margin: 0 3px;
}

textarea#varValEditor {
    width: 100%;
    min-height: 100px;
}

.searchInput {
    height: 20px;
    width: 150px;
    padding-left: 5px;
    margin-top: 2px;
}

#nameHolder{
    display: flex;
    flex-direction: row;
}

div#comp-id {
    padding: 13px;
    transition: opacity 0.2s ;
    opacity: 0;
    font-size: 13px;
}
div#comp-id:hover {
    opacity: 1;
}

