
body{
    font-family: "Open Sans",Arial,sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

.pop-bar {
    border-top: 0px solid rgba(46, 46, 47, 1);
    border-bottom: 0px solid rgba(47, 46, 47, 1);
}



#navbarNav .navbar-brand>B {
    color: #000000;
}

#navbarNav .nav-item>a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

.rrow {
    background-color: #ffffff;
    box-shadow: rgba(17, 18, 38, 0.15) 0px 0px 20px 0px;
    transition: background 200ms ease 0s, box-shadow 200ms ease 0s;
    padding-top: 60px;
}
.main {
    background: #ffffff7b;
    backdrop-filter: blur(8px);
}

input, textarea, .searchInput {
    color: #000;
    background-color: #fff;
}

div#tCol-handle {
    background: #cdcdcd;
}

div#consoleScroll {
    height: 40px;
}

.form-control:focus {
    color: #545454;
    background-color: #fff;
    border-color: #959595;
    box-shadow: 0 0 0 .2rem rgba(134, 134, 134, 0.25);
}

textarea#settingsKey1 {
    color: transparent;
    text-shadow: rgb(0, 0, 0) 0px 0px 8px;
}


div#console {
    background: #ebebeb;
}

.jstree-wholerow.jstree-wholerow-clicked {
    background: #d8d8d8;
}

.ace-clouds .ace_gutter {
    background: #ffffff;
    color: #c5c5c5;
}

.ace-clouds .ace_marker-layer .ace_active-line {
    background: #f7f7f7;
}

.jstree-default .jstree-anchor {
    color: #424242;
}

.jstree-default .jstree-wholerow-hovered {
    background: #e7e7e7
}

.table {
    color: #212529;
}

.newCompVarTypeButton {
    background: none;
}

.newCompVarName, .newCompVarValue {
    color: #323232;
    background-color: #f7f7f7  ;

}

.colorPicker {
    border-width: 0px;
    border-style: solid;
    border-color: black;
    background-color: transparent;
    color: black;
}

.colorPickerView {
    border-style: solid;
    border-color: black;
    background-color: transparent;
    color: black;
}

i.fa.up{
    color: #0075ff
}
i.fa.down{
    color: #666666
}

i.fa.consoleWrapBtn{
    color: #0075ff
}

div#btnCol {
    background: #e2e2e2;
}

#navbarNav-outer {
    background-color: #e2e2e2;
}

div#userList {
    background-color: #d4d4d4;
}

.htDark {
    width: 100px;
    padding: 0.2em;
    background: #d4d4d4;
    outline: none;
    color: #000000;
    border: 0
  }
  
  .handsontable .htDark {
    background: #d4d4d4;
    color: #000000;
  }
  
  .handsontable .darkTH {
    background: #d4d4d4;
    color: #000000;
  }

  div#btnCol i {
    color: #0075ff;
  }

  #settingsBtn{
    color: #0075ff
}

.myBt.enabled {
    color: black;
}

th.gridjs-th.gridjs-th-sort {
    border-bottom: 2px solid rgb(212 212 212);
    background: #f0f0f0;
}

.gridjs-tr td{
    background-color: #ffffff;
    text-shadow: rgb(0, 0, 0) 0px 0px 0px
}
.gridjs-tr td.clicked{
    background-color: #e2e2e2;
}
.gridjs-tr:hover td{
    background-color: #e2e2e2;

}

div#settingsDownloadBtn, div#settingsUploadBtn {
    background: #0275ff;
}

